.StoriesContainer {
  background-color: white;
  color: #222;
  width: 70%;
  height: 85%;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  overflow: scroll;
}

.StoriesContainer-dark {
  color: white;
  background: #333;
  transition: all ease-in .5s;
}

@media screen and (max-width: 900px) {
  .StoriesContainer {
    width: 100%;
  }
}