.Nav {
  margin: 0;
  padding: 0 50px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav a {
  color: #222;
  text-decoration: none;
}

.Nav-dark {
  background: #222;
  color: white;
  margin: 0;
  padding: 0 50px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in .5s;
}

.Nav-dark a {
  color: white;
  text-decoration: none;
}

.Nav h1 {
  margin: 0;
  padding: 25px 50px;
  cursor: pointer;
  font-size: 2.5rem;

}

.NavList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.NavItem {
  list-style: none;
  padding: 0 50px;
  cursor: pointer;

}

.TitleSpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-decoration {
  background: slateblue;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 0;
}

.title-decoration:first-child {
  background: #FF5555;
}

.title-decoration:last-child {
  background: #88D9F7;
}

.Nav .title-decoration-wrapper {
  margin-left: -50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  .Nav {
    width: 100vw;
    padding: 0 0px;
  }
  .Nav h1 {
    font-size: 1.2rem;
  }
  .NavList .NavItem:first-child {
    display: none;
    margin: 0;
    padding: 0;
  }

  .NavList {
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-right: 50px;
  }

  .NavItem {
    padding: 0;
  }
}