.Login {
  height: 80vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.Login h1 {
  font-size: 5rem;
}

.Login label {
  color: #222;
  display: inline;
}

.title-decoration {
  background: slateblue;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 10px;
}

.title-decoration:first-child {
  background: #ff5555;
}

.title-decoration:last-child {
  background: #88d9f7;
}

.title-decoration-wrapper {
  margin-bottom: 55px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Title {
  display: flex;
  margin-left: 65px;
}

.Login p {
  font-size: 1.75rem;
}

.Login form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #222;
}

.Login form input {
  width: 200px;
  margin: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  outline: none;
}

.LoginBtnAlt {
  color: #ff5555;
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #ff5555;
}

@media screen and (max-width: 700px) {
  .Login {
    height: 80vh;
    padding: 0;
    margin: 0;
    padding-top: 50px;

  }
  .Login h1 {
    font-size: 1.75rem;
  }

  .Login p {
    font-size: .75rem;
  }
  .Login form label {
    font-size: .75rem;
  }
  .Login form input {
    width: 55%;
    margin: 10px;
    margin-bottom: 15px;
  }
}